<p style="font-family: Arial; font-size:3em;color:black;"> Lab Exercise 4 </p>

Students name in this Group:
- Gabriel Okazaki
- Julio Socher
- Kateryna Solonenko
- Mohit Sabharwal
- Riya Gupta
- Vaibhav Saini

In [2]:
messages = [
    'college student',
    'airport taxi driver',
    'Toronto art museum',
    'life art',
    'machine learning student'
]

In [3]:
import pandas as pd

In [11]:
messages_df = pd.DataFrame(messages, columns=['message'])
messages_df.head()

                    message
0           college student
1       airport taxi driver
2        Toronto art museum
3                  life art
4  machine learning student

In [7]:
def message_tokenize(message):
    return message.split()

In [12]:
messages_df['message'] = messages_df['message'].apply(message_tokenize)
messages_df.head()

                        message
0            [college, student]
1       [airport, taxi, driver]
2        [Toronto, art, museum]
3                   [life, art]
4  [machine, learning, student]

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer = CountVectorizer(analyzer=message_tokenize).fit(messages)
print(len(bow_transformer.vocabulary_),'\n')
print((bow_transformer.vocabulary_))

11

{'college': 3, 'student': 9, 'airport': 1, 'taxi': 10, 'driver': 4, 'Toronto': 0, 'art': 2, 'museum': 8, 'life': 6, 'machine': 7, 'learning': 5}

In [29]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(messages)
print(vectorizer.get_feature_names_out())
print(X.toarray())

['airport' 'art' 'college' 'driver' 'learning' 'life' 'machine' 'museum'
 'student' 'taxi' 'toronto']
[[0 0 1 0 0 0 0 0 1 0 0]
 [1 0 0 1 0 0 0 0 0 1 0]
 [0 1 0 0 0 0 0 1 0 0 1]
 [0 1 0 0 0 1 0 0 0 0 0]
 [0 0 0 0 1 0 1 0 1 0 0]]

In [61]:
from sklearn.feature_extraction.text import TfidfTransformer

tfidf_transformer = TfidfTransformer().fit(X)
tfidf_transformer.idf_

array([2.09861229, 1.69314718, 2.09861229, 2.09861229, 2.09861229,
       2.09861229, 2.09861229, 2.09861229, 1.69314718, 2.09861229,
       2.09861229])

In [1]:
import math

# TfidfTransformer uses ln and different formula
print(f'IDF for ´college´ should be using the formula taught in class: {math.log10(5/1)}')
print(f'IDF for ´art´ should be using the formula taught in class: {math.log10(5/2)}')

IDF for ´college´ should be using the formula taught in class: 0.6989700043360189
IDF for ´art´ should be using the formula taught in class: 0.3979400086720376

In [11]:
print(f'IDF for ´college´ using sklearn TfidfTransformer formula: {math.log((1+5)/(1+1))+1}')
print(f'IDF for ´art´ should be using the formula taught in class: {math.log((1+5)/(1+2))+1}')
# Formula reference: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfTransformer.html#sklearn.feature_extraction.text.TfidfTransformer

IDF for ´college´ using sklearn TfidfTransformer formula: 2.09861228866811
IDF for ´art´ should be using the formula taught in class: 1.6931471805599454